#mainHeader {
	font-family: Verdana,sans-serif;
	color: black;
	font-size: 60px;
	font-weight: bolder;
}

#mainFooter {
	font-family: Verdana,sans-serif;
	color: grey;
	font-size: 10px;
	font-weight: bolder;
}